:root {
  --primary: #ffcad4ff;
  --secondary: #f4acb7ff;
  --light: #ffffffff;
  --light-alt: #d8e2dcff;
  --dark: black;
  --dark-alt: #9d8189ff;
}

.title {
  position: absolute;
  top: 5px;
  width: 50%;
  text-align: center;
  color: var(--light);
  text-shadow: 10px;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-self: center;
  align-self: center;
}
.main-container {
  background-image: url(./components/images/lines.png);
  position: absolute;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.photo-box {
  position: relative;
  border-style: groove;

  border-width: 1px;
  border-color: #22031f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 150px;

  /* padding: 5px; */
  margin: 5px;
  overflow: hidden;
  box-shadow: 10px, 10px;
}

.photo-box:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.popular {
  background-color: var(--primary);
  display: flex;
  width: 100%;
  height: 200px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.main-album {
  height: 40%;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: 60%;
  overflow: scroll;
  padding: 5px;
  margin: 5px;
}
.main-album::-webkit-scrollbar {
  display: none;
}
.popular img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 90%;
  border-radius: 5px;
}

.top-div {
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  border-radius: 10px;
}

.bin {
  position: absolute;
  top: 20%;
  right: 5%;
  color: white;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.like {
  position: absolute;
  bottom: 1px;
  right: 5px;
  color: white;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.photo img {
  flex-shrink: 0;
  min-width: 100%;
  min-width: 100%;
}

.nav-bar {
  box-shadow: 5px 10px #545353;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
}
.logout {
  max-height: 100px;
  max-width: 100px;
  justify-self: right;
  color: aliceblue;
  font-size: 20px;
  cursor: pointer;
  text-shadow: 2px 2px 5px #22031f;
  overflow: hidden;
}

.add-photo {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 28px;
  font-weight: 900;
  color: var(--light);
  background-image: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
  border-radius: 999px;
  cursor: pointer;
}

.uploader {
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 70%;
  height: 100px;
  top: 25%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, 0);
  background-color: var(--secondary);
  height: 200px;
  border-radius: 16px;
}
.pop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}
.register {
  background-image: url(./components/images/lines.png);
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.enlarged-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60%;
  height: 60%;
  top: 10%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, 0);
  border-radius: 16px;
  margin: auto;
  overflow: hidden;
  flex-wrap: wrap;
}

.enlarged-photo img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}
.enlarged-photo .p {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.logout {
  cursor: pointer;
}

.left-bar {
  background-color: var(--primary);
  height: 100%;
  width: 25%;
}

.profile {
  display: flex;
  height: 100vh;
  width: auto;
  background-image: url(./components/images/lines.png);
}
.right-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.albums {
  display: flex;
  flex-direction: row;
  border: 2px;
  border-color: #22031f;
  border-radius: 10px;
  border-style: dotted;
  height: 30%;
  overflow: scroll;
  max-width: 100%;
  align-items: center;
}
.albums::-webkit-scrollbar {
  display: none;
}
.close {
  position: absolute;
  bottom: 20%;
  right: 10%;
  color: red;
  text-shadow: 2px 2px 5px black;
  z-index: 5;
  font-size: 20px;
}

.album-item {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  border: 1px;
  border-color: #22031f;
  border-style: inset;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: Center;
  min-width: 20%;
  height: 90%;

  /* padding: 5px; */
  margin: 5px;
  overflow: hidden;
  box-shadow: 10px, 10px;
}
.album-item img {
  flex-shrink: 0;
  max-width: auto;
  max-height: 80%;
}

.album-item p {
  font-size: 22px;
}

.multi-upload {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 80px;
}

.album-item {
  cursor: pointer;
}

.add-album {
  position: fixed;
  bottom: 20%;
  right: 30%;
  max-height: 60%;
  width: 40%;
  border-color: #22031f;
  border-style: dashed;
  overflow: hidden;
  border-radius: 10px;
  background-color: aliceblue;
}

.form-submit {
  background-color: var(--primary);
  border-radius: 10px;
  height: 5%;
}

.logout-icon {
  height: 10px;
  cursor: pointer;
  overflow: hidden;
  width: 30px;
  max-height: 100px;
  max-width: 100px;
}

.invite-alert {
  position: fixed;
  bottom: 80px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 28px;
  font-weight: 900;
  color: var(--light);
  background-image: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
  border-radius: 999px;
  cursor: pointer;
}

.invite-popup{
  position: fixed;
  bottom: 20%;
  right: 30%;
  height: 60%;
  width: 40%;
  border-color: #22031f;
  border-style: dashed;
  overflow: hidden;
  border-radius: 10px;
  background-color: aliceblue;
}